@import '@/styles/colors';
@import '@/styles/mixins';

.goback {
  display: flex;
  margin-block: 0.5rem;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: #d0d0cf;

  svg {
    width: 20px;
    margin-right: 0.5rem;
  }
}
