@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

.consultas {
  background: $bg-gray;
}

.container {
  padding-block: 1rem;
  @include container(900px);

  p {
    @include break_md {
      font-size: $text-lg;
    }
  }
}

.container,
.form {
  width: 90%;
  margin: 0 auto;

  p {
    text-align: justify;
  }
}

.form_mobile {
  @include break_lg {
    display: none;
  }
}

.form_desktop {
  display: none;

  @include break_lg {
    display: block;
  }

  &_grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form_mobile,
.form_desktop {
  padding-block: 1rem;
  @include container(900px);

  div {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 0.3rem;

      @include break_md {
        font-size: $text-lg;
      }
    }

    input,
    select,
    textarea {
      background: white;
      padding: 0.8rem;
      border-radius: 8px;
      margin-bottom: 0.3rem;
      outline: none;
      border: 1px solid transparent;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      display: none;
    }

    textarea {
      min-height: 100px;
    }
  }

  button[type='button'],
  button[type='submit'] {
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;

    @include break_md {
      margin-bottom: 2rem;
    }
  }

  button[type='submit'] {
    @include button($orange-500);
      color: #fff;
      display: flex;
      align-items: center;
      margin: 0 auto;
      font-weight: bold;
      margin-block: 1rem;
      padding: 0.8rem 2.5rem;
      font-size: $text-2xl;
      border-radius: $rounded-3xl;

    &:disabled {
      cursor: not-allowed;
      background-color: #9d9d9d;
    }
  }
}

.textarea {
  grid-row: auto / span 2;
  
  textarea {
    height: 100%;
    margin-bottom: 0;
  }
}

.input_file {
  label {
    @include button($btn-gray);
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: max-content;
    padding: 0.8em;
    font-size: 14px;
    margin-top: 1rem;
    border-radius: 8px;

    @include break_md {
      font-size: 16px;
    }

    svg {
      width: 20px;
      height: 20px;
      margin-left: 1rem;
      color: rgb(62, 190, 73);
    }
  }
}
