@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

$height: 800px;

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: $height;

  @include break_lg {
    flex-direction: row;
  }

  &_nav1 {
    top: 1rem;
    left: 9rem;
    color: white;

    @include break_xl {
      left: 12rem;
    }

    ul {
      li {
        margin-inline: 2rem;

        @include break_xl {
          margin-inline: 3.5vw;
        }

        span {
          font-size: $text-lg;

          @include break_xl {
            font-size: $text-2xl;
          }
        }
      }
    }
  }

  &_nav2 {
    top: 1rem;
    right: 0rem;
    color: $primary;

    ul {
      li {
        width: 120px;
        text-align: center;
        margin-inline: 1.5rem;

        @include break_xl {
          margin-inline: 4vw;
        }

        @include break_3xl {
          margin-inline: 100px;
        }

        span {
          font-size: $text-lg;

          @include break_xl {
            font-size: $text-2xl;
          }
        }
      }
    }
  }

  &_nav1,
  &_nav2 {
    display: none;
    position: absolute;

    @include break_lg {
      display: block;
    }

    ul {
      padding: 0;
      display: flex;

      li {
        font-size: 20px;
        list-style: none;
      }
    }
  }

  &_logo {
    position: absolute;

    & > div {
      width: 200px;
      height: 200px;
      background: #fff;
      border-radius: 10px;
      transform: rotate(-10deg) translate(-30%, -40%);

      @include break_lg {
        width: 250px;
        height: 250px;
      }
    }

    img {
      left: 1rem;
      top: 0.5rem;
      position: absolute;
      width: 100px;
      height: 100px;

      @include break_lg {
        width: 130px;
        height: 130px;
      }
    }
  }

  &_bars {
    z-index: 1400;
    position: absolute;
    top: 1rem;
    right: 1rem;

    @include button;
    padding: 0em;

    @include break_md {
      display: none;
    }

    div {
      z-index: -1;
      height: 5px;
      width: 35px;
      margin-bottom: 5px;
      border-radius: 2px;
      background-color: #fff;
    }
  }

  &_background {
    height: 70vh;
    max-height: $height;
    min-height: 560px;
    overflow: hidden;
    position: relative;

    display: grid;
    place-items: center;

    @include break_lg {
      width: 70vw;
      max-width: 930px;
      height: 100vh;
    }

    & > div {
      width: 90%;
      margin: 0 auto;
      color: white;
      margin-bottom: 5%;
      text-align: center;
      transform: translateY(50px);
      
      @include break_lg {
        width: 70%;
        transform: translateY(100px) translateX(-50px);
      }

      h1 {
        font-size: $text-xl;
        
        @include break_md {
          margin: 0;
          margin-bottom: 1rem;
          font-size: $text-2xl;
        }
      }
      h2 {
        font-size: $text-base;
        font-weight: 500;

        @include break_md {
          margin: 0;
          margin-bottom: 2rem;
          font-size: $text-lg;
        }
      }

      button {
        @include button(#fff) {
          color: $primary;
          font-weight: bold;
          padding: 0.5em 2em;
          border-radius: $rounded-3xl;
        }

        @include break_md {
          font-size: $text-xl;
        }
      }
    }

    img {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }

  &_play {
    min-height: 250px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      transform: translateY(-50px);
      width: 80px;
      height: 80px;
      display: grid;
      color: white;
      place-items: center;
  
      @include button($dark-gradient) {
        padding: 1em;
        border-radius: 50%;
      }

      @include break_lg {
        transform: translateY(0px) translateX(-50px);
      }
  
      svg {
        width: 40px;
        height: 40px;
        transform: translateX(4.5px);
      }
    }
  }
  
  &_flotantes {
    z-index: 1400;
    right: 1rem;
    bottom: 1rem;
    display: flex;
    position: fixed;
    flex-direction: column;

    a {
      @include button {
        padding: 0;
      }
    }

    svg {
      width: 45px;
      margin-bottom: 5px;
    }
  }
}

.image_mobile {
  @include break_lg {
    display: none;
  }
}

.image_desktop {
  display: none;
  @include break_lg {
    display: block;
  }
}
