@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

.spinner {
  margin-left: 10px;
  border: 3px solid #008fff;
  border-top: 3px solid #fff; 
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}