@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

.membresias {
  // margin-top: -4px;
}

.container {
  @include container(700px);

  &_content {
    margin-block: 2rem;
    text-align: justify;

    @include break_md {
      margin-block: 3rem;
      font-size: $text-lg;
    }
  }
}

.grid {
  gap: 1rem;
  margin-bottom: 2rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 150px);

  @include break_md {
    gap: 3rem;
    margin-bottom: 3rem;
    grid-template-columns: repeat(3, 150px);
  }

  &_item {
    margin: 0 auto;
    box-shadow: $shadow;
    border-radius: $rounded-3xl;
    background-image: $light-gradient;

    @include perfectBox(150px);

    & > div {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }

    p,
    span {
      color: #fff;
      font-size: 10px;
      padding: 0 1rem;
      text-align: center;

      @include break_md {
        font-size: $text-xs;
      }
    }

    p {
      padding: 0.5rem 0.8rem;
    }

    img {
      margin-bottom: 0.5rem;
      width: 40%;
      height: 40%;
      object-fit: contain;
    }
  }
}

.button {
  @include button($secundary) {
    color: #fff;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 2rem;
    padding: 0.8rem 3rem;
    font-size: $text-2xl;
    border-radius: $rounded-3xl;
  }

  @include break_md {
    margin-bottom: 3rem;
  }
}
