@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

.header {
  padding: 2rem;
  color: white;
  background-image: $dark-gradient;

  @include break_md {
    padding: 2.5rem;
  }

  h1 {
    margin: 0;
    font-size: 2rem;
  }
}