@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

.header {
  padding: 2rem;
  color: white;
  background-image: $dark-gradient;

  @include break_md {
    padding: 2.5rem;
  }
  @include break_lg {
    text-align: center;
  }

  h2 {
    margin: 0;
    font-size: 2rem;
    
    @include break_lg {
      font-size: $text-6xl;
    }
  }
}