@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

.header {
  padding: 2em;
  color: white;
  background-image: $dark-gradient;

  h1 {
    margin: 0;
    font-size: 1.9em;
  }
}