@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

.footer {
  color: white;
  background: #323232;
  padding-top: 2rem;
  padding-inline: 1rem;
  padding-bottom: 4rem;

  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 238px));

  @include break_xl {
    grid-template-columns: repeat(auto-fit, minmax(238px, 250px));
  }
}

.item,
.social {
  h3 {
    font-weight: 500;
  }
}

.item {
  ul {
    padding: 0;

    li {
      list-style: none;
      margin-bottom: 0.5rem;

      a {
        color: white;
        text-decoration: none;
      }

      span {
        cursor: pointer;

        &:hover {
          color: #9d9d9d;
        }
      }
    }
  }
}

.social {
  @include break_lg {
    margin-left: 1rem;
  }
  &_item {
    display: flex;

    & > * {
      margin-right: 1rem;
    }

    span {
      width: 50px;
      height: 50px;
      display: grid;
      place-items: center;
      border-radius: 50%;
      background: white;

      svg {
        color: #323232;
        width: 25px;
        height: 25px;
      }
    }
  }
}

.terminos {
  @include button(transparent);
  padding: 0;
  color: #fff;

  &:hover {
    color: #9d9d9d;
  }
}
