@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

.nosotros {
  overflow: hidden;
  position: relative;

  &_header {
    @include break_lg {
      display: none;
    }

    &_desktop {
      padding: 2rem;
      color: white;
    
      @include break_md {
        padding: 2.5rem;
      }
    
      h2 {
        margin: 0;
        font-size: $text-6xl;
      }
    }
  }
  

  &_container {
    padding-block: 1rem;
    @include container;

    @include break_lg {
      display: none;
    }
  }

  &_item1 {
    p {
      font-size: $text-lg;
      
      @include break_md {
        font-size: $text-xl;
      }
      @include break_lg {
        color: white;
      }
    }
  }
  &_item2 {
    p, span {
      font-size: $text-lg;
      
      @include break_md {
        font-size: $text-xl;
      }
    }
  }

  &_item1,
  &_item2 {

    p,
    span {
      text-align: justify;
    }

    div {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      h1 {
        margin: 0;
        min-width: 20px;
        text-align: center;
        margin-right: 20px;
      }
    }
  }

  &_image {
    width: 100%;

    @include break_lg {
      display: flex;
      justify-content: flex-end;
    }

    img {
      width: 100%;
      display: block;
      margin: 0 auto;
      max-width: 400px;
      
      @include break_lg {
        max-width: 500px;
        align-self: flex-end;
        justify-self: flex-end;
      }
    }
  }

  &_triangle {
    z-index: -1;
    position: absolute;
    bottom: -5px;
    width: 100%;

    @include break_lg {
      display: none;
    }
  }

  &_form {
    display: none;
    transform: translateX(-300px);
    top: -1px;
    position: absolute;
    width: 90%;
    height: 100vh;
    z-index: -1;

    @include break_lg {
      display: block;
      transform: translateX(-310px);
    }

  }
}

.grid {
  
  @include break_lg {
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  &_item {
    display: none;
    
    @include break_lg {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
