@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

.nosotros {
  // height: 100vh;
  position: relative;

  &_container {
    padding-block: 1rem;
    @include container;
  }

  &_item1 {
    p {
      font-size: $text-lg;
      
      @include break_md {
        font-size: $text-xl;
      }
    }
  }
  &_item2 {
    // p,
    // span {
    //   font-size: $text-sm;
    //   @include break_md {
    //     font-size: $text-lg;
    //   }
    // }
    p, span {
      font-size: $text-lg;
      
      @include break_md {
        font-size: $text-xl;
      }
    }
  }

  &_item1,
  &_item2 {

    p,
    span {
      text-align: justify;
    }

    div {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;

      h1 {
        margin: 0;
        min-width: 20px;
        text-align: center;
        margin-right: 20px;
      }
    }
  }

  &_image {
    width: 100%;

    img {
      // transform:  translateY(-4px);
      width: 100%;
      display: block;
      margin: 0 auto;
      max-width: 400px;
    }
  }

  &_triangle {
    z-index: -1;
    position: absolute;
    bottom: -5px;
    width: 100%;
  }
}
