@import '@/styles/colors';
@import '@/styles/mixins';
@import '@/styles/variables';

.elegirnos {
}

.grid {
  padding-block: 2rem;
  margin: 0 auto;
  width: max-content;
  display: grid;
  gap: 1rem;

  @include break_md {
    gap: 3rem;
    padding-block: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  &_item {
    display: grid;
    gap: 1rem;
    align-items: center;
    grid-template-columns: 100px 200px;

    @include break_md {
      max-width: 200px;
      grid-template-columns: 1fr;
      grid-template-rows: 150px 50px;
    }

    p {
      margin: 0;
      font-weight: 900;
      font-size: $text-lg;

      @include break_md {
        text-align: center;
      }
    }

    div {
      display: grid;
      place-items: center;
      border-radius: 50%;
      margin-right: 1rem;
      background: $blue-200;
      box-shadow: $shadow;
      @include perfectBox(100px);

      @include break_md {
        justify-self: center;
        margin-right: 0rem;
        box-shadow: $shadow-lg;
        @include perfectBox(150px);
      }

      img {
        width: 60%;
        height: 60%;
        object-fit: contain;
      }
    }
  }
}
